body {
  background-color:lavender;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

#heading-info {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: cursive;
}

#my-photo {
  border-radius: 50%;
}

#html-photo {
  float: left;
  border-radius: 25%; 
  width: 15%; 
}

#vscode-photo {
  float: right; 
  border-radius: 25%;
  width: 15%; 
}

h3 {
  text-align: center; 
}

#age-location {
  padding-top: 0%; 
}

.highlight {
  background-color: rgb(128, 255, 249);
}

ol {
  padding-left: 15px; 
}

.column1 {
  width: 65%;
  float: center;
  margin: auto;
  border: double blue;
  padding: 10px;
  display: block; 
  box-sizing: border-box;
}

.column2 {
  width: 65%;
  float: center;
  margin: auto;
  margin-top: 5px; 
  margin-bottom: 5px; 
  border: dotted green;
  padding: 10px;
  display: block;
  box-sizing: border-box;
}

.column3 {
  width: 65%;
  height: auto; 
  float: center;
  margin: auto;
  border: double orange;
  padding: 10px; 
  display: block; 
  box-sizing: border-box;
}

.skill-list {
  width: 450px;
  height: auto; 
  float: center;
  margin: auto;
  margin-bottom: 5px; 
  border: dashed black;
  padding: 5px; 
  display: block; 
  box-sizing: border-box;
}

/* .sidebar {
  width: 25%;
  float: right;
  background-color: pink;
  margin: auto;
  border: dashed black;
  padding: 5px; 
  box-sizing: border-box;
} */