#heading-info {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: cursive;
}

img {
  border-radius: 50%;
}

#age-location {
  padding-top: 0%; 
}

.highlight {
  background-color: hwb(60 50% 0%);
}

ol {
  padding-left: 15px; 
}

.column {
  width: 40%;
  float: center;
  margin: auto;
  border: solid blue;
  padding: 5px;
  display: block; 
  box-sizing: border-box;
}

.column2 {
  width: 65%;
  float: center;
  margin: auto;
  border: solid green;
  padding: 5px;
  display: block;
  box-sizing: border-box;
}

.column3 {
  width: 50%;
  height: auto; 
  float: center;
  margin: auto;
  margin-top: 200px; 
  border: solid orange;
  padding: 5px; 
  display: block; 
  box-sizing: border-box;
}

.sidebar {
  width: 25%;
  float: right;
  background-color: pink;
  margin: auto;
  border: dashed black;
  padding: 5px; 
  box-sizing: border-box;
}